
body {
    overflow-x: hidden;
    margin-right: 0.2em;

}
a{
    text-decoration: none;
}
header{
    display: flex;
    justify-content: center;
    padding-top: 25px;
    padding-bottom: 25px;
    background-image: url(https://wallpaperaccess.com/full/4646026.jpg);
    background-size: cover;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
div.reg_div{
    position: absolute;
    margin-top: -2rem;
    margin-left:50rem;
}
button.reg{
    font-size: xx-large;
    border-radius: 15%;
    
}
button.reg:hover{
    color:azure;
    background-color: goldenrod;
}
div.navcontent{
    display: flex;
    justify-content: space-around;
    padding-top: 1rem;

}
span.home:hover{
    text-decoration:underline;
    text-decoration-color:wheat;

}
span.about:hover{
    text-decoration:underline;
    text-decoration-color:wheat;

}
span.event:hover{
    text-decoration:underline;
    text-decoration-color:wheat;

}
span.venue:hover{
    text-decoration:underline;
    text-decoration-color: wheat;

}
a.bar{
    color: aliceblue;
    display: contents;
    justify-content: baseline;
    justify-items: space-between;
    font-size: large;
}

span.year{ 
    font-size:5rem;
    font-weight: 300;
    font-weight: bolder;
    color:rgb(248, 255, 174);
}
span.icon-bar{
    font-size:xx-large;
    font-weight: 300;
    font-size: 5rem;
    font-weight:bolder;
    font-family:'Times New Roman', Times, serif;
    color: rgb(248, 255, 174);
}

div.sub_main{
    border-top: 1px;
    border-color: bisque;
    border-style:groove;
    background-color: rgb(248, 255, 174);
}
.jpr{
    width:20rem ;
}
.jpr_img{
    display: flex;
    justify-content: center;
    padding-top: 8rem;
}
.clg_logo{
    width: 25rem;
    height: 20rem;
}
div.logo{
    display: flex;
    justify-content: space-around;
    padding-top: 2rem;
}
.nacc{
   width: 20rem;
   height:20rem;
}
.globe{
    width: 20rem;
    height:20rem;
}
div.nirf_logo{
    display: flex;
    justify-content: space-around;
}
.nirf{
    width: 30rem;
    padding-top: 2rem;
}
.iic{
    width: 25rem;
    padding-top: 2rem;
}
div.heading{
    margin-top: 30px;
}
span.inter{
    font-size:5rem;
    color: black;
    font-weight: lighter;
    font-family:'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    
}
div.theme{
    margin-top: 2rem;
}
span.on{
    display: flex;
    justify-content: center;
    color: black;
    font-size: 3rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    

}
span.sci{
    display: flex;
    justify-content: center;
    color: black;
    font-size: 3rem;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
span.tech{
    display: flex;
    justify-content: center;
    color: black;
    font-size: 3rem;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
span.eng{
    padding-top: 2rem;
    display: flex;
    justify-content: center;
    color: black;
    font-size: 3rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
span.main_theme{
    padding-top: 2rem;
    display: flex;
    justify-content: center;
    color: black;
    font-size: 2rem;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}
span.date{

    padding-top: 2rem;
    display: flex;
    justify-content: center;
    color: black;
    font-size: 2rem;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}
span.place{
    padding-top: 2rem;
    display: flex;
    justify-content: center;
    color: black;
    font-size: 2rem;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}
a#youtube{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

div.about_con{
    border-top: 1px;
    border-top-color:blue;
    border-top-style: solid;
    margin-top: 5rem;
    border-bottom: 1px;
    border-bottom-color:blue;
    border-bottom-style: solid;
    padding-bottom: -5rem;
}
h4.act{
    text-align: center;
    font-size: 4rem;
    padding-bottom: -2rem;
}
div.paragraph{
    display: flex;
    justify-content: space-evenly;
    font-size: larger;
}
p.para{
    margin-top: -8rem;
    text-align: center;
    font-size: large;
    padding: 2rem 2rem 2rem 2rem;
}
h2.contact_us{
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: monospace;
    font-size: 2rem;

}
h2.gal{
    text-align: center;
    font-weight: bolder;
    font-size: 4rem;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color:gray;
}
span.check{
    display: flex;
    justify-content: center;
    font-weight: lighter;
    font-size: 2rem;
    font-family:Georgia, 'Times New Roman', Times, serif ;
    margin-top: -2rem;
    box-sizing: border-box;
    margin-bottom: 4rem;
    color: cadetblue;


}
div.gallary{
    box-sizing: border-box;
    display:block;
    justify-content: center;
    align-content: center;
}
img.event_photos{
    display: inline-block;
    margin: 2rem 6rem 2rem 6rem;
    width: 300px;
    height: 200px;
    border: 1px solid gray;
    border-radius: 10%;
    box-shadow: 10px 10px 5px lightblue;
}
img.event_photos:hover{
    cursor: zoom-in;
    transform: scale(2);
    transition: transform .2s;

}
h2.id{
    font-size: 2rem;
    padding-left: 400px;
    border-width: 10rem;
    text-decoration: underline;
    text-decoration-style:solid ;
    text-decoration-color:darkgrey;

}
div.head_list{
    padding-left: 370px;
    font-size: larger;
}
table {
    border-collapse: collapse;
    width: 60%;
    margin: 20px auto;
}

td {
    font-size: larger;
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    background-color: #f2f2f2;
}
h2.title{
    padding: 2rem 0 2rem 0;
    text-align: center;
    font-size: 2rem;
    font-weight: bolder;
}
span.event_title{
    display: flex;
    justify-content: center;
    font-size: 2rem;
    font-weight: bolder;
}
span.phone{
    font-size: 5rem;
    padding: 0 20rem 0 20rem;
 

}
span.msg{
    font-size: 5rem;
    padding: 0 20rem 0 0;
    
}
div.entity_name{
    display: flex;
    justify-content: space-evenly;
    font-size: 1.3rem;
    font-family: monospace;
    font-weight: bolder;
}
div.entity_detail{
    display: flex;
    justify-content: space-evenly;
    font-size: 1.3rem;
    font-family: monospace;
    font-weight: bolder;
    margin-top: 2rem;

}
span.phone_no{
    padding-left: 8rem;
}
span.email{
    padding-left: 2rem;
    padding-bottom: 8rem;
}
footer{
    padding-top:3rem ;
    background-color:rgb(0, 3, 12);
    padding-bottom: 4rem;
}
p.final{
    font-size: larger;
    font-weight: lighter;
    color: antiquewhite;
    display: flex;
    justify-content:last baseline;
    font-size: 2rem;
    padding-bottom: -10rem;

}
img.clg{
    margin-top: -29rem;
    float: right;
    width: 800px;
    height: 450px;
}
div.map_ad{
    padding-top: 1rem;
    background-image: linear-gradient(rgb(255, 136, 0), yellow);
}
div.links{
    color: azure;
    padding-left: 2rem;

}
span.use{
    font-size: 2rem;
}
span.link{
    color: azure;
    font-size: 2rem;

}
span.link:hover{
    color: goldenrod;
}

div.float{

    font-size: 2rem;
    margin-top: -13rem;
    padding-left: 30rem;

}
div.follow{
    font-size: x-large;
    padding-left: 65rem;
    padding-bottom: -5rem;
}
#share{

    font-size: large;
}
#share:hover{
    color: goldenrod;
}
div.pro{
    margin-top: 2rem;
}
button.ieee{
    font-size: xx-large;
    border-radius: 15%;
    
}
button.ieee:hover{
    color:azure;
    background-color: goldenrod;
}